a.add-button{
    font-size: 45px;
}

a.detail-button{
    font-size: 45px;
}

.task{
    color: black;
}

.detail-button{
    color: grey;
}

p{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 28px;
}

input{
    border-radius: 7px;
    font-size: 20px;
}

textarea {
    border-radius: 7px;
    font-size: 20px;
}

.row {
    display: block;
}

.card {
    border: None;
    margin: None;
}